.face-icon{
    height: 45px;
    width: 45px;
}
.nav-cadastro{
    background-color: #c0f0bf;
    padding: 5px 15px 5px 15px;
    text-align: center;
}
.navbar-text{
    font-size: 25px;
}
.logo-header{
    height: 100%;
    width: 100%;
}